* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 }

 body {
   font-family:  'Josefin Sans', sans-serif;
   width: 100%;
   margin: 0 auto;
 }

.flexContainer {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.emrContainer {
  height:100vh;
  width:50vw;
  background:url('../img/emrLv2.jpg');
  background-position: center center;
  background-size:cover;
  transition: all 0.3s ease-out;
}
.emrContainer:hover {
  background:url('../img/emrDv2.jpg');
  background-position: center center;
  background-size:cover;
}
.onsiteContainer {
  height:100vh;
  width:50vw;
  background:url('../img/onsLv2.jpg');
  background-position: center center;
  background-size:cover;
  transition: all 0.3s ease-out;
}
.onsiteContainer:hover {
  background:url('../img/onsDv2.jpg');
  background-position: center center;
  background-size:cover;
}
.emrContainer a {
  display:block;
  height:100%;
  text-decoration:none;
}

@media all and (max-width: 900px) {
  .flexContainer {
    flex-direction: column;
  }
  .emrContainer {
    height:50vh;
    width:100vw;
    transition: all 0.3s ease-out;
  }
  .onsiteContainer {
    height:50vh;
    width:100vw;
    transition: all 0.3s ease-out;
  }
}