/* body {
  max-width: 1800px;
  width: 100%;
  margin: auto;
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 }

 body {
   font-family:  'Josefin Sans', sans-serif;
 }

 /* navbar */

  #navbar-toggle {
    display: none;
  }

  .navbar {
  display: flex;
  position: fixed;
  background-color: rgba(255, 255, 255,0.4);
  width: 100%;
  max-width: 1800px;
  justify-content: space-between;
  padding-bottom: 0px;
  height: 50px;
  align-items: center;
  z-index: 10;
 }

 .main-nav {
  display: flex;
  margin-right: 80px;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0);
 }

 .main-nav li {
  margin: 0;
 }

 .main-nav li:first-of-type {
  margin-top: 0px;
}

 .nav-links {
  margin-left: 40px;
  color:#333333;
  text-decoration: none;
 }

 #logo {
   margin-top: 0;
 }

 #logo:hover,
 .nav-links:hover {
  cursor: pointer;
 }

 /* home */

 .homeBg {
  position: relative;
  background:url('../img/colorBar2.jpg');
  background-color: #ffffff;
  height: 100vh;
  max-width: 1800px;
  margin: 0 auto;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.homeContent {
  display: flex;
  position: absolute;
  top: 50%; 
  transform:translateY(-50%);
  justify-content: space-between;
  padding: 0 40px;
}
  .introContainer {
    padding-top: 250px;
    padding-right:50px;
    width:60%;
  }
  .profilePic {

   width: 750px; 
   margin: 0 auto 0;
  }
  .introContainer .introNameStyle {
    font-size:56px;
    line-height:60px;
    color:#333333;
    letter-spacing:2px;
    padding-bottom:20px;
  }
  
  .introContainer .introCopyStyle {
    font-size:22px;
    line-height:40px;
    color:#333333;
    letter-spacing:2px;
    padding-top:20px;
  }

  /* tiles */

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}
  
.col-1 {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.col-2 {
  display: flex;
  flex-direction: column; 
  width: 40%;
}


.tile {
  display: block;
  font-size: 0;
}

.tile img {
  display: block;
  width: 100%;
  height: auto;
}

.tile_overlay {
  position: absolute;
  top: 0; left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  transition: all .3s ease-in-out;
  text-align: center;
  color: white;
}

.tile_overlay:hover,
.tile_overlay:active {
  opacity: 1;
}
.tile_overlay:hover + img[src*="ccTile"] {
  opacity:0.7;
}

.overlay_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.overlay_content>h2 {
  font-size: 1.35em;
}
.overlay_content p {
  text-shadow: 0px 0px 9px rgba(0,0,0,0.4);
}

.line {
  border-bottom: 1px solid white;
  width: 0px;
  margin: 10px auto;
  transition: all 0.5s linear;
  transition-delay: 0.3s;
}

.tile_overlay:hover .line,
.tile_overlay:active .line {
  width: 100px;
}

button {
  width: 60px;
  margin: 10px 5px;
  padding: 5px;
  border: none;
  border-radius: 6px;
  color: #333;
  background-color: rgba(255, 255, 255, .5);
  transition: background-color 0.3s ease-in-out;
}
button.buttonLg {
  width: 120px;
  margin: 10px 5px;
  padding: 5px;
  border: none;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, .5);
}
button:hover,
button:active {
  cursor: pointer;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255);
}

button>a {
  text-decoration: none;
  color: inherit;
}

.purple {
	background: linear-gradient(-45deg, #8c00ff83, #8868b381);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
  backdrop-filter: blur(3px);
  height: 100%;
}

.red {
	background: linear-gradient(-45deg, #ff003777, #ff8d8d73);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
  backdrop-filter: blur(3px);
  height: 100%;
}

.blue {
	background: linear-gradient(-45deg, #0011ff80, #9a93ff81);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
  backdrop-filter: blur(3px);
  height: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/* footer */

.footer h2 {
  position: relative;
  margin: 20px 0px 10px;
  font-size: 1.5em;
}

.contact {
  position: absolute;
  display: flex;
  flex-direction:row;
  margin-left: 0px;

}

.contact img {
  height: 20px;
  width: 20px;
}

.contact a {
  margin: 0 10px 20px 0;
}

.contact a {
  text-decoration: none;
  color: black;
}

.col-1 article,
.col-2 article {
  position: relative;
  overflow: hidden;
}

.skills {
  width: 100%;
}
  
.col-row {
  display: flex;
  flex-direction: row;
} 
  
.col-row > article {
  width: 50%;
}

.skills {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  justify-content: center;
}

/* nest hub */

@media all and (max-width: 1280px) {
    .introContainer {
    padding-top: 30px;
    padding-right:50px;
    width:60%;
  }
  .profilePic {

   right:80px;top:150px;
   width: 450px; 
   margin: 0 auto 0;
  }
}

@media all and (max-width: 1024px) and (max-height: 600px) {
    .introContainer {
    padding-top: 10px;
    padding-right:50px;
    width:60%;
  }
  .profilePic {

   right:80px;top:150px;
   width: 400px; 
   margin: 0 auto 0;
  }

    .introContainer .introCopyStyle {
    font-size:18px;
    line-height:34px;
    color:#333333;
    letter-spacing:2px;
    padding-top:20px;
  }
    .overlay_content p {
  display: none;
  }
}

/* mobile */

@media all and (max-width: 1023px) {

  /* nav */

.nav-links,
#logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.navbar {
  font-size: 18px;
  padding-bottom: 10px;
  position: relative;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
}

.main-nav {
  list-style-type: none;
  display: none;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.main-nav li:first-of-type {
  margin-top: 50px;
}

#logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

#navbar-toggle {
  display:block;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  font-size: 24px;
}

  /* home */

    .homeContent {
    flex-direction: column-reverse;
    display: flex;
    position: absolute;
    top: 50%; transform:translateY(-50%);
    justify-content: space-between;
    padding: 0 20px;
  }
    .introContainer {
      padding: 20px 0px 0;
      width:100%;
    }
    .profilePicContainer {
      width:100%;
      margin:0 auto;
    }
    .profilePic {
      display:block;
     width:60%;
     max-width: 500px; 
     margin: 20px auto 0;
    }
    .introContainer .introNameStyle {
      font-size:30px;
      line-height:36px;
      text-align:center;
    }
    
    .introContainer .introCopyStyle {
      font-size:14px;
      line-height:24px;
      text-align:center;
    }
  
  /* tiles */


  .col-1,
  .col-2 {
    width: 100%;
  }

  .overlay_content p {
  display: none;
  }

  button.buttonLg {
    width: 100px;
  }

  /* footer */

  .footer {
    padding:0 20px;
  }
}


